
.link a {
  color: #b9c8c4;
  padding: 2px 20px 20px;
  cursor: pointer;
}
.active {
  color: #000 !important;
  border-bottom: 1px solid #ccc;
  /* text-decoration: underline !important; */
}
.link a:hover {
    color: #000;  
    /* text-decoration: underline; */
}
