

.link a{    
    color:#b9c8c4 ;            
    padding: 2px 20px 20px;
   
}
.active{
    color: #000 !important;
    /* text-decoration: underline !important; */
}
.link a:hover {
    color: #000;
    border-bottom: 1px solid #ccc;
    /* text-decoration: underline; */
}



