.handsontable table.htCore {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  border-width: 0;
  table-layout: fixed;
  width: 1200px;
  outline-width: 0;
  cursor: default;
  /* max-width: none; */
  max-height: none;
  font-size: 40px;
}
.btn-fpa{
  float: right;
  min-width: 83px;
  margin-right: 15px;
}
