<div class="col-md-12 card" style="padding:0px;margin:0px">
  <div class="row" style="padding-bottom:10px">
    <div class="col-md-4 "><p class="page-heading">FPA</p></div>
    <div class="col-md-8">
      <button type="button" id="btn-export" class="btn btn-outline-primary btn-fpa">Export<i class="fa fa-cloud-download" aria-hidden="true" style="margin-left: 10px"></i></button>
      <button type="button" class="btn btn-outline-primary btn-fpa">Import<i class="fa fa-cloud-upload" aria-hidden="true" style="margin-left: 10px"></i></button>
      <button type="button" class="btn btn-outline-primary btn-fpa">Print<i class="fa fa-print" aria-hidden="true" style="margin-left: 10px"></i></button>
      <button type="button" id="btn-save" class="btn btn-outline-primary btn-fpa">Save<i class="fa fa-floppy-o" aria-hidden="true" style="margin-left: 10px"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="">
      <div id="fpa-table"  class="hot handsontable"></div>
    </div>
  </div>
</div>

