@import '~handsontable/dist/handsontable.full.css';


/* You can add global styles to this file, and also import other style files */
body {
    font-size: 12px !important;
}

intput {
    font-size: 12px !important;
}

.form-control{
    font-size: 12px !important;
    height: calc(2.25rem + 0px) !important;
}

.select2-selection--single {
    height: 34px !important;

}
.select2-selection__rendered{
  line-height: 30px !important;
}
.page-heading{
  color: #044a8f;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  padding-left: 50px;
}

.form-control {
  margin-left: 10px!important;
}
