.cardBorder{
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}
.rowPadding{
     margin:10px 100px 5px 10px;
}

.circleTech{
     border-style: solid;
     border-color:#275fba;
     border-radius: 10px;
     background-color:#275fba;
     padding: 3px 2px 3px 2px !important;
     margin : 0px 0px 3px 3px !important;
     color:white;
     min-width: 210px !important;
     font-size: 11px;
  
}
.circlePadding{
    margin:5px 20px 20px 0px;
}
.noPadding{
    padding:0px;
    margin:0px;
    min-width: 0px;
}
.paddingtop{
    padding-top: 2px;
}

.marginright{
   margin-right:10px;
}
